/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*/// MY CODE ///*/

.land {
    height: 100vh;
    background-image: url("img/back1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    width: 100%;
}

/*/// HEADER ///*/

header {
    height: 23px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, .15)
}

.name {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    color: #C49839;
}

.nav-btn {
    width: 30px;
    height: 100%;
    background-image: url("img/menu-2.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    cursor: pointer;
    z-index: 2000;
    transition: all .25s ease-in-out;
}

/*/// MENU ///*/

.menu {
    position: fixed;
    height: 0px;
    width: 100%;
    text-align: center;
    background-color: #111;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

.menu ul {
    padding-top: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.menu ul li {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    list-style: none;
}

.menu-main {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom:20px;
}

.menu-sub {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 20px;
}

.sub-end {
    padding-bottom: 30px;
}

.menu ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*/// EMAIL FORM ///*/

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 300px;
}

.email-input {
    width: 200px;
    padding: 15px 10px 15px;
    border-radius: 10px 0px 0px 10px;
}

.form-btn {
    border-radius: 0px 10px 10px 0px;
    padding: 0px 20px;
    background-color: #C49839;
    color: #111;
    font-weight: 600;
}

.email-input, .form-btn {
    border: 0px;
}

.form-btn:focus {
    outline: none;
}

.form-btn:hover {
    background-color: #FFB617;
    cursor: pointer;
}

.email-input:focus {
    outline: none;
}

.email-input:focus::placeholder {
    color: #C49839;
}

/*/// SOCIAL MEDIA ///*/

.social {
    padding-top: calc(100vh - 643px);
    display: flex;
    flex-direction: column;
    visibility: hidden;  
}

.icons {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
}

.social-icon {
    text-decoration: none;
    font-size: 35px;
    color: #C49839;
    padding: 10px 10px 0px 0px;
}

.social-icon:hover {
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    
    .form {
        justify-content: flex-end;
        padding: 150px 200px 0px 0px;
    }
    
    .social {
        visibility: visible;
    }
}

@media only screen and (min-width: 1110px) {
    
    .wrapper {
        margin: 0 auto;
        max-width: 1110px;
    }

    header {
        /*background-color: rgba(0, 0, 0, 0);*/
    }



}
